@model Contienent
<h1>Edit a Contient</h1>

<form method="post" action="/contienents/@Model.Id">
    <div>
        <label for="Name">Name of Contient</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" />
    </div>
    <div>
        <button type="submit">Update Contienent</button>
    </div>
</form>
<br />
<form method="post" action="/contienents/@Model.Id/delete">
    <button type="submit">DELETE @Model.Name.ToUpper()</button>
</form>