@model IEnumerable<Contienent>

<h1> Here are the 7 Contients of the world</h1>
<br />

@foreach(var contienent in Model)
{
    <div>
        <h1>@contienent.Name</h1>
        <p><a href="/contienents/@contienent.Id/countries">Countries in @contienent.Name</a></p>
        <p><a href="/contienents/@contienent.Id/edit">Edit @contienent.Name</a></p>
        <p>----------------------------------------------</p>
    </div>
   
}

<a href="/contienents/new">Add new</a>