<h1>Create a Contient</h1>

<form method="post" action="/contienents">
    <div>
        <label for="Name">Name of Contient</label>
        <input type ="text" id="Name" name="Name" />
    </div>
    <div>
        <button type = "submit">Create Contienent</button>
    </div>
</form>